<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
    integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <title>Insta API</title>
</head>
<body>
    <div class="row">
        <h1 class="text-center">New Post</h1>
        <div class="col-6 offset-3">
            <form action="/posts" method="POST" novalidate >
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="post[title]" required>
                    
                </div>
     
                <div class="mb-3">
                    <label class="form-label" for="image">Image Url</label>
                    <input class="form-control" type="text" id="image" name="post[image]" required>
                   
                </div>
        
    
                <div class="mb-3">
                    <label class="form-label" for="description">Enter the Caption</label>
                    <textarea class="form-control" type="text" id="description" name="post[description]"
                        required></textarea>
                   
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Enter the Location</label>
                    <input class="form-control" type="text" id="location" name="post[location]" required>
                    
                </div>
     
                <div class="mb-3">
                    <button class="btn btn-success">Add post</button>
                </div>
            </form>
            <a href="/posts">All Recent Posts</a>
        </div>
    </div>
    

   
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>

    <script src='/javascripts/validateForms.js'></script>
</body>
</html>